<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <style>
        .container{
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome To Book Stall</h1>
        <a href="{% url 'logout' %}">Logout</a>
    
        <div>
            <a href="{% url 'add_author' %}">Add Author</a>
            <a href="{% url 'add_book' %}">Add Book</a>
            <a href="{% url 'book_list' %}">Book List</a>
            <a href="{% url 'borrowed_book' %}">Borrowed Book</a>
        </div>
    </div>
</body>
</html>